body {
	background-color: #2f3542;
}
#logo-brand {
	width: 100px;
}
.navbar img{
width:20px;
margin-left:10px;
}
#navbar {
	background-color: #ffffff;
}
#user-icon{
margin-right: 10px;

}
#user {
	color: #2d3436;
	font-size: 12px;
}

#edit {
	margin-right: 20px;
}

#nav-right{
	margin-left: 245px;
}

#nav-center {
	margin-left: 250px;
}

.carousel-inner img {
width: 100%;
height: 100%;
/*width:1500px;
height:500px;*/
}

.icon  {
width:22px;
}

#information {
background-color: #57606f;
opacity: 0.8;
filter: alpha(opacity=90);

}
#information p{
color : white;
font-size: 12px;
padding-top: 10px;
}

#sub-info {
	color: #eb4d4b;
}

#search {
	margin-left: 130px;

}

#konten {
	margin-top: 10px;
}

.cover img {
	width: 250px;
	float: left;

}


