/*coba masonry*/
* { box-sizing: border-box; }
/* force scrollbar */
html { overflow-y: scroll; }
body { font-family: sans-serif; }
/* ---- grid ---- */
/* clear fix */
.grid:after {
content: '';
display: block;
clear: both;
}
/* ---- .grid-item ---- */
.grid-sizer,
.grid-item {
width: 24.44%;
margin: 3px;
}
.grid-item {
float: left;
}
.grid-item img {
display: block;
max-width: 100%;
}
.grid-item img:hover {

border: 4px solid #c44569;
border-radius: 2%;
}
/*div:hover .dld img {
background-color: #c44569;
border-radius: 2%;
width: 10%;
cursor: pointer;
}

div:hover #mov img {
border: 4px solid #c44569;
    border-radius: 2%;
cursor: pointer;
}*/